read-le
ascii
8way
pagesize
mt-print
mt-cond
order
per-thread
rabin
cputime
mmap-write
bench-lsb
mov-w1-w1
bench-pmull
affinity

*.dSYM/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
